.topColor {
  width: 100%;
  height: 68px;
  position: absolute;
  z-index: 9;
  background: rgba(255, 255, 255, 0.14);
}
.topColor .topCenter {
  width: 1200px;
  height: 68px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  left: 150px;
  top: 0;
  z-index: 9;
  box-shadow: 0 4px 18px rgba(17, 18, 38, 0.07);
}
.topColor .topCenter .topLogo {
  width: 135px;
  height: 36px;
  background-image: url(../img/logo3.png);
  z-index: 25;
}
.topColor .topCenter .topSerach {
  position: relative;
  width: 382px;
  height: 40px;
  background-color: #ff5c38;
  border-radius: 20px 20px 20px 20px;
  background-color: rgba(255, 255, 255, 0.9);
  box-shadow: 0 4px 18px rgba(17, 18, 38, 0.07);
  transition: max-width 0.2s ease;
  border-color: transparent;
}
.topColor .topCenter .topSerach .me {
  position: absolute;
  left: 830px;
  top: 2px;
  width: 36px;
  height: 36px;
  border-radius: 50%;
}
.topColor .topCenter .topSerach .entrance {
  position: absolute;
  left: 15px;
  top: 35px;
  width: 348px;
  height: 406px;
  box-shadow: 0 28px 50px rgba(25, 24, 40, 0.35);
  background: rgba(255, 255, 255, 0.98);
  z-index: 10;
  display: none;
}
.topColor .topCenter .topSerach .entrance .entranceTop {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.topColor .topCenter .topSerach .entrance .entranceTop li:first-of-type {
  color: #999;
  font-size: 14px;
  margin: 8px 188px 8px 8px;
}
.topColor .topCenter .topSerach .entrance .entranceTop li:nth-of-type(2) {
  margin-top: 8px;
  color: #999;
}
.topColor .topCenter .topSerach .entrance .entranceTop li:nth-of-type(3) {
  font-size: 13px;
  width: 128px;
  height: 35px;
  background-color: #a2a2a2;
  margin: 0 112px 11px 9px;
  border-radius: 15px;
  text-align: left;
  line-height: 35px;
  font-size: 1px;
}
.topColor .topCenter .topSerach .entrance .entranceTop li:nth-of-type(4) {
  opacity: 0;
  margin-left: 3px;
}
.topColor .topCenter .topSerach .entrance .entranceTop li:nth-of-type(5) {
  color: #999;
  font-size: 14px;
  margin: 8px 188px 5px 8px;
}
.topColor .topCenter .topSerach .entrance .entranceTop li:last-of-type {
  margin-top: 8px;
  color: #999;
}
.topColor .topCenter .topSerach .entranceBottom li {
  width: 315px;
  height: 22px;
  margin-left: 14px;
  padding: 5px;
  overflow: hidden;
  border-radius: 2px;
  color: #666;
  font-size: 16px;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.topColor .topCenter .topSerach .entranceBottom li:first-of-type {
  display: flex;
  align-items: center;
}
.topColor .topCenter .topSerach .entranceBottom li:first-of-type:hover {
  background-color: #eee;
}
.topColor .topCenter .topSerach .entranceBottom li:first-of-type .icon-1_square_solid {
  font-size: 25px;
  z-index: 10;
}
.topColor .topCenter .topSerach .entranceBottom li:nth-of-type(2) {
  display: flex;
  align-items: center;
}
.topColor .topCenter .topSerach .entranceBottom li:nth-of-type(2):hover {
  background-color: #eee;
}
.topColor .topCenter .topSerach .entranceBottom li:nth-of-type(2) .icon-2_square_solid {
  font-size: 25px;
  z-index: 10;
}
.topColor .topCenter .topSerach .entranceBottom li:nth-of-type(3) {
  display: flex;
  align-items: center;
}
.topColor .topCenter .topSerach .entranceBottom li:nth-of-type(3):hover {
  background-color: #eee;
}
.topColor .topCenter .topSerach .entranceBottom li:nth-of-type(3) .icon-3_square_solid {
  font-size: 25px;
  z-index: 10;
}
.topColor .topCenter .topSerach .entranceBottom li:nth-of-type(4) {
  display: flex;
  align-items: center;
}
.topColor .topCenter .topSerach .entranceBottom li:nth-of-type(4):hover {
  background-color: #eee;
}
.topColor .topCenter .topSerach .entranceBottom li:nth-of-type(4) .icon-4_square_solid {
  font-size: 25px;
  z-index: 10;
}
.topColor .topCenter .topSerach .entranceBottom li:nth-of-type(5) {
  display: flex;
  align-items: center;
}
.topColor .topCenter .topSerach .entranceBottom li:nth-of-type(5):hover {
  background-color: #eee;
}
.topColor .topCenter .topSerach .entranceBottom li:nth-of-type(5) .icon-5_square_solid {
  font-size: 25px;
  z-index: 10;
}
.topColor .topCenter .topSerach .entranceBottom li:nth-of-type(6) {
  display: flex;
  align-items: center;
}
.topColor .topCenter .topSerach .entranceBottom li:nth-of-type(6):hover {
  background-color: #eee;
}
.topColor .topCenter .topSerach .entranceBottom li:nth-of-type(6) .icon-6_square_solid {
  font-size: 25px;
  z-index: 10;
}
.topColor .topCenter .topSerach .entranceBottom li:nth-of-type(7) {
  display: flex;
  align-items: center;
}
.topColor .topCenter .topSerach .entranceBottom li:nth-of-type(7):hover {
  background-color: #eee;
}
.topColor .topCenter .topSerach .entranceBottom li:nth-of-type(7) .icon-7_square_solid {
  font-size: 25px;
  z-index: 10;
}
.topColor .topCenter .topSerach .entranceBottom li:nth-of-type(8) {
  display: flex;
  align-items: center;
}
.topColor .topCenter .topSerach .entranceBottom li:nth-of-type(8):hover {
  background-color: #eee;
}
.topColor .topCenter .topSerach .entranceBottom li:nth-of-type(8) .icon-8_square_solid {
  font-size: 25px;
  z-index: 10;
}
.topColor .topCenter .topSerach .entranceBottom li:nth-of-type(9) {
  display: flex;
  align-items: center;
}
.topColor .topCenter .topSerach .entranceBottom li:nth-of-type(9):hover {
  background-color: #eee;
}
.topColor .topCenter .topSerach .entranceBottom li:nth-of-type(9) .icon-9_square_solid {
  font-size: 25px;
  z-index: 10;
}
.topColor .topCenter input {
  position: relative;
  margin-left: 25px;
  width: 196px;
  height: 37px;
  text-shadow: 0 0 2px rgba(17, 18, 38, 0.2);
  background-color: transparent;
  outline: none;
}
.topColor .topCenter button {
  z-index: 3;
  position: absolute;
  top: 0;
  left: 20px;
  margin-left: 42px;
  position: relative;
  width: 96px;
  height: 40px;
  color: #fff;
  font-size: 16px;
  background: #ff5c38;
  border-color: #ff5c38;
  border-radius: 0 20px 20px 0px;
}
.topColor .topCenter button .icon-sousuokuang {
  position: absolute;
  left: 5px;
  top: 10px;
  font-size: 15;
  font-weight: 600;
}
.topColor .topCenter .btn::before {
  content: "热搜榜";
  position: absolute;
  top: 10;
  color: #ff5c38;
  font-size: 13px;
  font-weight: 600;
  left: -52px;
}
.topColor .leftbin {
  width: 120px;
  height: 40px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: #fff;
}
.topColor .leftbin .platform {
  width: 26px;
  height: 26px;
  position: relative;
}
.topColor .leftbin .platform .experience {
  width: 26px;
  height: 100px;
}
.topColor .leftbin .platform .experience {
  position: absolute;
  left: 39px;
  top: 0;
}
section .container {
  position: relative;
  width: 1519.2px;
  height: 500px;
  overflow: hidden;
}
section .containerRight {
  position: absolute;
  right: 0;
  top: 68px;
  width: 310px;
  height: 432px;
  background: rgba(15, 15, 30, 0.4);
  z-index: 20;
}
section .containerRight .platformImg {
  position: absolute;
  background: url(../img/123.avif) center bottom / 100% no-repeat;
  width: 280px;
  height: 231px;
  top: -31px;
  left: calc(50% - 165px);
  z-index: 10;
  color: #000028;
  z-index: 23;
  opacity: 0;
}
section .containerRight .platformImg::after {
  content: "去创作";
  color: #fff;
  text-align: center;
  line-height: 30px;
  position: absolute;
  left: 8px;
  bottom: 35px;
  width: 260px;
  height: 30px;
  background: #ff6022;
  border-radius: 20px;
}
section .containerRight .historyDiv {
  position: absolute;
  width: 290px;
  height: 431px;
  top: -10px;
  left: 0;
  z-index: 10;
  color: #000028;
  background-color: #fff;
  z-index: 23;
  border-radius: 5px;
  display: none;
}
section .containerRight .historyDiv ul {
  display: flex;
  justify-content: space-around;
  font-size: 16px;
  line-height: 50px;
  height: 50px;
  font-weight: 500;
  background-color: #f8f8f8;
  border-radius: 5px 5px 0 0;
}
section .containerRight .historyDiv::after {
  position: absolute;
  left: 28px;
  bottom: 190px;
  color: #a3a3a3;
  background-color: #f8f8f8;
  font-size: 15px;
  content: "你暂时还没有看过任何视频坳~";
}
section .containerRight .experienceDiv {
  position: absolute;
  width: 170px;
  height: 180px;
  top: -15px;
  left: 90px;
  z-index: 10;
  color: #000028;
  background-color: #fff;
  z-index: 23;
  border-radius: 5px;
  display: none;
}
section .containerRight .experienceDiv ul {
  margin: 20px 0 30px 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-content: flex-start;
  font-size: 14px;
  font-weight: 500;
  color: #666;
}
section .containerRight .experienceDiv ul li {
  margin-bottom: 18px;
}
section .containerRight .experienceDiv ul li:nth-of-type(4) {
  color: #fff;
  background: linear-gradient(90deg, #ffb821 0, #ff5c38 45%, #ff1459);
  width: 120px;
  height: 30px;
  border-radius: 15px;
  text-align: center;
  line-height: 30px;
}
section .containerRight .nav-barFirst li {
  width: 275px;
  height: 35px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.13);
  padding: 20px 0 0 35px;
  font-size: 22px;
  font-weight: 700;
  color: #fff;
}
section .containerRight .nav-barSecond {
  color: #666;
}
section .containerRight .nav-barSecond li:nth-of-type(1) {
  margin-top: 8px;
  font-size: 22px;
  font-weight: 700;
}
section .containerRight .nav-barSecond li:nth-of-type(2):hover {
  font-size: 22px;
  font-weight: 700;
}
section .containerRight .nav-barSecond li:nth-of-type(2):hover span {
  color: #ff5c38;
}
section .containerRight .nav-barSecond li:nth-of-type(2):hover .title-1 {
  font-size: 12px;
  opacity: 1;
}
section .containerRight .nav-barSecond li:nth-of-type(2):hover ~ .img1 {
  opacity: 0;
}
section .containerRight .nav-barSecond li:nth-of-type(3):hover {
  font-size: 22px;
  font-weight: 700;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
section .containerRight .nav-barSecond li:nth-of-type(3):hover span {
  color: #ff5c38;
}
section .containerRight .nav-barSecond li:nth-of-type(3):hover .title-1 {
  font-size: 12px;
  opacity: 1;
}
section .containerRight .nav-barSecond li:nth-of-type(4):hover {
  font-size: 22px;
  font-weight: 700;
}
section .containerRight .nav-barSecond li:nth-of-type(4):hover span {
  color: #ff5c38;
}
section .containerRight .nav-barSecond li:nth-of-type(4):hover .title-1 {
  font-size: 12px;
  opacity: 1;
}
section .containerRight .nav-barSecond li:nth-of-type(5):hover {
  font-size: 22px;
  font-weight: 700;
}
section .containerRight .nav-barSecond li:nth-of-type(5):hover span {
  color: #ff5c38;
}
section .containerRight .nav-barSecond li:nth-of-type(5):hover .title-1 {
  font-size: 12px;
  opacity: 1;
}
section .containerRight .nav-barSecond li:nth-of-type(6):hover {
  font-size: 22px;
  font-weight: 700;
}
section .containerRight .nav-barSecond li:nth-of-type(6):hover span {
  color: #ff5c38;
}
section .containerRight .nav-barSecond li:nth-of-type(6):hover .title-1 {
  font-size: 12px;
  opacity: 1;
}
section .containerRight .nav-barSecond li:nth-of-type(2):hover {
  font-size: 22px;
  font-weight: 700;
}
section .containerRight .nav-barSecond li:nth-of-type(2):hover span {
  color: #ff5c38;
}
section .containerRight .nav-barSecond li:nth-of-type(2):hover .title-1 {
  font-size: 12px;
  opacity: 1;
}
section .containerRight .nav-barSecond li:nth-of-type(7):hover {
  font-size: 22px;
  font-weight: 700;
}
section .containerRight .nav-barSecond li:nth-of-type(7):hover span {
  color: #ff5c38;
}
section .containerRight .nav-barSecond li:nth-of-type(7):hover .title-1 {
  font-size: 12px;
  opacity: 1;
}
section .containerRight .nav-barSecond li:nth-of-type(8):hover {
  font-size: 22px;
  font-weight: 700;
}
section .containerRight .nav-barSecond li:nth-of-type(8):hover span {
  color: #ff5c38;
}
section .containerRight .nav-barSecond li:nth-of-type(8):hover .title-1 {
  font-size: 12px;
  opacity: 1;
}
section .containerRight .nav-barSecond li:nth-of-type(9):hover {
  font-size: 22px;
  font-weight: 700;
}
section .containerRight .nav-barSecond li:nth-of-type(9):hover span {
  color: #ff5c38;
}
section .containerRight .nav-barSecond li:nth-of-type(9):hover .title-1 {
  font-size: 12px;
  opacity: 1;
}
section .containerRight .nav-barSecond li:nth-of-type(10):hover {
  font-size: 22px;
  font-weight: 700;
  padding: 5px 0 0 35px;
}
section .containerRight .nav-barSecond li:nth-of-type(10):hover span {
  color: #ff5c38;
}
section .containerRight .nav-barSecond li:nth-of-type(10):hover .title-1 {
  font-size: 12px;
  opacity: 1;
}
section .containerRight .nav-barSecond li {
  width: 270px;
  height: 35px;
  padding: 2px 0 0 35px;
  font-size: 15px;
  font-weight: 500;
  transition: font-size 0.08s ease;
}
section .containerRight .nav-barSecond li span {
  color: #fff;
}
section .containerRight .nav-barSecond li .title-1 {
  font-size: 15px;
  opacity: 0;
}
.s-second {
  width: 1200px;
  height: 100px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 40px;
}
.s-second .main_nav-0 {
  width: 258px;
  height: 100px;
  position: relative;
}
.s-second .main_nav-0 .main_nav-0-top {
  width: 258px;
  height: 42px;
  border-radius: 24px;
  background-color: #f8f8f8;
  cursor: pointer;
  line-height: 42px;
  font-size: 15px;
  position: relative;
}
.s-second .main_nav-0 .main_nav-0-top .TV-play {
  font-weight: 600;
  color: #111;
}
.s-second .main_nav-0 .main_nav-0-top .TV-play::after {
  content: '';
  position: absolute;
  left: 95px;
  top: 15px;
  width: 1px;
  height: 16px;
  background-color: #ccc;
  z-index: 23;
}
.s-second .main_nav-0 .main_nav-0-top .allTVDramas {
  z-index: 10;
  position: absolute;
  left: 0;
  top: -265px;
  width: 360px;
  padding: 13px 0 0px 30px;
  border-radius: 4px;
  background-color: #fff;
  box-shadow: 0 28px 50px rgba(25 24 40/35%);
  white-space: normal;
  display: none;
}
.s-second .main_nav-0 .main_nav-0-top .allTVDramas p {
  font-size: 15px;
  color: #ff5c38;
}
.s-second .main_nav-0 .main_nav-0-top .allTVDramas a {
  color: #111;
  display: inline-block;
  width: 100px;
  margin: 0 18px 0 0;
  overflow: hidden;
  font-size: 13px;
  letter-spacing: normal;
  line-height: 18px;
  text-overflow: ellipsis;
  vertical-align: top;
  white-space: nowrap;
}
.s-second .main_nav-0 .main_nav-0-top .allTVDramas::after {
  position: absolute;
  top: auto;
  bottom: -14px;
  left: 60px;
  width: 0;
  height: 0;
  overflow: visible;
  border: 7px solid transparent;
  border-top-color: #fff;
  font-size: 0;
  content: "";
  pointer-events: none;
}
.s-second .main_nav-0 .nav-icon {
  display: inline-block;
  margin-left: 15px;
}
.s-second .main_nav-0 .nav-icon img {
  width: 18px;
  height: 18px;
  line-height: 18px;
}
.s-second .main_nav-0 .Overseas-drama,
.s-second .main_nav-0 .Online-drama {
  margin-left: 20px;
  color: #666;
}
.s-second .main_nav-0 .TV-play:hover {
  color: #ff5c38;
}
.s-second .main_nav-0 .Overseas-drama:hover {
  color: #ff5c38;
}
.s-second .main_nav-0 .Online-drama:hover {
  color: #ff5c38;
}
.s-second .main_nav-0-bottom {
  margin-top: 16px;
  width: 258px;
  height: 42px;
  border-radius: 24px;
  background-color: #f8f8f8;
  cursor: pointer;
  line-height: 42px;
  font-size: 15px;
  position: absolute;
}
.s-second .main_nav-0-bottom .TV-play {
  font-weight: 600;
  color: #111;
}
.s-second .main_nav-0-bottom .TV-play::after {
  content: '';
  position: absolute;
  left: 95px;
  top: 15px;
  width: 1px;
  height: 16px;
  background-color: #ccc;
  z-index: 2;
}
.s-second .main_nav-0-bottom .allTVDramas {
  z-index: 10;
  position: absolute;
  left: 5px;
  top: -272px;
  width: 360px;
  padding: 13px 0 10px 30px;
  border-radius: 4px;
  background-color: #fff;
  box-shadow: 0 28px 50px rgba(25 24 40/35%);
  white-space: normal;
  display: none;
}
.s-second .main_nav-0-bottom .allTVDramas p {
  font-size: 15px;
  color: #ff5c38;
}
.s-second .main_nav-0-bottom .allTVDramas a {
  color: #111;
  display: inline-block;
  width: 100px;
  margin: 0 18px 0 0;
  overflow: hidden;
  font-size: 13px;
  letter-spacing: normal;
  line-height: 18px;
  text-overflow: ellipsis;
  vertical-align: top;
  white-space: nowrap;
}
.s-second .main_nav-0-bottom .allTVDramas::after {
  position: absolute;
  top: auto;
  bottom: -14px;
  left: 50px;
  width: 0;
  height: 0;
  overflow: visible;
  border: 7px solid transparent;
  border-top-color: #fff;
  font-size: 0;
  content: "";
  pointer-events: none;
}
.s-second .main_nav-0-bottom .nav-icon {
  margin-left: 15px;
  width: 18px;
  height: 18px;
}
.s-second .main_nav-0-bottom .large-Cinema-Area {
  margin-left: 33px;
  color: #666;
}
.s-second .main_nav-0-bottom .Online-drama {
  margin-left: 8px;
  color: #666;
}
.s-second .main_nav-0-bottom .TV-play:hover {
  color: #ff5c38;
}
.s-second .main_nav-0-bottom .large-Cinema-Area:hover {
  color: #ff5c38;
}
.s-second .main_nav-0-bottom .Online-drama:hover {
  color: #ff5c38;
}
.main_nav-1 {
  width: 213px;
  height: 100px;
}
.main_nav-1 .main_nav-1-top {
  width: 213px;
  height: 42px;
  border-radius: 24px;
  background-color: #f8f8f8;
  cursor: pointer;
  line-height: 42px;
  font-size: 15px;
  position: relative;
}
.main_nav-1 .main_nav-1-top .nav-icon {
  margin-left: 15px;
  width: 18px;
  height: 18px;
}
.main_nav-1 .main_nav-1-top .TV-play {
  font-weight: 600;
  color: #111;
  position: relative;
}
.main_nav-1 .main_nav-1-top .TV-play::after {
  content: '';
  position: absolute;
  left: 42px;
  bottom: -1px;
  width: 1px;
  height: 16px;
  background-color: #ccc;
  z-index: 23;
}
.main_nav-1 .main_nav-1-top .TV-play:hover + .allTVDramas {
  display: block;
}
.main_nav-1 .main_nav-1-top .allTVDramas {
  z-index: 10;
  position: absolute;
  left: 0;
  top: -265px;
  width: 360px;
  padding: 13px 0 0px 30px;
  border-radius: 4px;
  background-color: #fff;
  box-shadow: 0 28px 50px rgba(25 24 40/35%);
  white-space: normal;
  display: none;
}
.main_nav-1 .main_nav-1-top .allTVDramas p {
  font-size: 15px;
  color: #ff5c38;
}
.main_nav-1 .main_nav-1-top .allTVDramas a {
  color: #111;
  display: inline-block;
  width: 100px;
  margin: 0 18px 0 0;
  overflow: hidden;
  font-size: 13px;
  letter-spacing: normal;
  line-height: 18px;
  text-overflow: ellipsis;
  vertical-align: top;
  white-space: nowrap;
}
.main_nav-1 .main_nav-1-top .allTVDramas::after {
  position: absolute;
  top: auto;
  bottom: -14px;
  left: 60px;
  width: 0;
  height: 0;
  overflow: visible;
  border: 7px solid transparent;
  border-top-color: #fff;
  font-size: 0;
  content: "";
  pointer-events: none;
}
.main_nav-1 .main_nav-1-top .madeByTencent {
  margin-left: 20px;
  color: #666;
}
.main_nav-1 .main_nav-1-top .madeByTencent:hover {
  color: #ff5c38;
}
.main_nav-1 .main_nav-1-top .soloBroadcast {
  margin-left: 10px;
  color: #666;
}
.main_nav-1 .main_nav-1-top .soloBroadcast:hover {
  color: #ff5c38;
}
.main_nav-1 .main_nav-1-bottom {
  margin-top: 16px;
  width: 213px;
  height: 42px;
  border-radius: 24px;
  background-color: #f8f8f8;
  cursor: pointer;
  line-height: 42px;
  font-size: 15px;
  position: relative;
}
.main_nav-1 .main_nav-1-bottom .nav-icon {
  margin-left: 15px;
  width: 18px;
  height: 18px;
}
.main_nav-1 .main_nav-1-bottom .TV-play {
  font-weight: 600;
  margin-right: 20px;
  color: #111;
}
.main_nav-1 .main_nav-1-bottom .TV-play::after {
  content: '';
  position: absolute;
  left: 80px;
  top: 15px;
  width: 1px;
  height: 16px;
  background-color: #ccc;
  z-index: 23;
}
.main_nav-1 .main_nav-1-bottom .TV-play:hover + .allTVDramas {
  display: block;
}
.main_nav-1 .main_nav-1-bottom .allTVDramas {
  z-index: 10;
  position: absolute;
  left: 0;
  top: -265px;
  width: 360px;
  padding: 13px 0 0px 30px;
  border-radius: 4px;
  background-color: #fff;
  box-shadow: 0 28px 50px rgba(25 24 40/35%);
  white-space: normal;
  display: none;
}
.main_nav-1 .main_nav-1-bottom .allTVDramas p {
  font-size: 15px;
  color: #ff5c38;
}
.main_nav-1 .main_nav-1-bottom .allTVDramas a {
  color: #111;
  display: inline-block;
  width: 100px;
  margin: 0 18px 0 0;
  overflow: hidden;
  font-size: 13px;
  letter-spacing: normal;
  line-height: 18px;
  text-overflow: ellipsis;
  vertical-align: top;
  white-space: nowrap;
}
.main_nav-1 .main_nav-1-bottom .allTVDramas::after {
  position: absolute;
  top: auto;
  bottom: -14px;
  left: 60px;
  width: 0;
  height: 0;
  overflow: visible;
  border: 7px solid transparent;
  border-top-color: #fff;
  font-size: 0;
  content: "";
  pointer-events: none;
}
.main_nav-1 .main_nav-1-bottom .Guoman {
  color: #666;
}
.main_nav-1 .main_nav-1-bottom .Guoman:hover {
  color: #ff5c38;
}
.main_nav-1 .main_nav-1-bottom .Diffuse {
  margin-left: 40px;
  color: #666;
}
.main_nav-1 .main_nav-1-bottom .Diffuse:hover {
  color: #ff5c38;
}
.main_nav-2 {
  width: 198px;
  height: 100px;
}
.main_nav-2 .main_nav-2-top {
  width: 198px;
  height: 42px;
  border-radius: 24px;
  background-color: #f8f8f8;
  cursor: pointer;
  line-height: 42px;
  font-size: 15px;
  position: relative;
}
.main_nav-2 .main_nav-2-top .nav-icon {
  margin-left: 15px;
  width: 18px;
  height: 18px;
}
.main_nav-2 .main_nav-2-top .TV-play {
  font-weight: 600;
  color: #111;
  position: relative;
}
.main_nav-2 .main_nav-2-top .TV-play::after {
  content: '';
  position: absolute;
  left: 52px;
  bottom: -1px;
  width: 1px;
  height: 18px;
  background-color: #ccc;
  z-index: 23;
}
.main_nav-2 .main_nav-2-top .allTVDramas {
  z-index: 10;
  position: absolute;
  left: 0;
  top: -265px;
  width: 360px;
  padding: 13px 0 0px 30px;
  border-radius: 4px;
  background-color: #fff;
  box-shadow: 0 28px 50px rgba(25 24 40/35%);
  white-space: normal;
  display: none;
}
.main_nav-2 .main_nav-2-top .allTVDramas p {
  font-size: 15px;
  color: #ff5c38;
}
.main_nav-2 .main_nav-2-top .allTVDramas a {
  color: #111;
  display: inline-block;
  width: 100px;
  margin: 0 18px 0 0;
  overflow: hidden;
  font-size: 13px;
  letter-spacing: normal;
  line-height: 18px;
  text-overflow: ellipsis;
  vertical-align: top;
  white-space: nowrap;
}
.main_nav-2 .main_nav-2-top .allTVDramas::after {
  position: absolute;
  top: auto;
  bottom: -14px;
  left: 45px;
  width: 0;
  height: 0;
  overflow: visible;
  border: 7px solid transparent;
  border-top-color: #fff;
  font-size: 0;
  content: "";
  pointer-events: none;
}
.main_nav-2 .main_nav-2-top .Puzzle {
  margin-left: 28px;
  color: #666;
}
.main_nav-2 .main_nav-2-top .nurseryRhyme {
  margin-left: 20px;
  color: #666;
}
.main_nav-2 .main_nav-2-top .Puzzle:hover {
  color: #ff5c38;
}
.main_nav-2 .main_nav-2-top .nurseryRhyme:hover {
  color: #ff5c38;
}
.main_nav-2 .main_nav-2-bottom {
  margin-top: 16px;
  width: 198px;
  height: 42px;
  border-radius: 24px;
  background-color: #f8f8f8;
  cursor: pointer;
  line-height: 42px;
  font-size: 15px;
  position: relative;
}
.main_nav-2 .main_nav-2-bottom .nav-icon {
  margin-left: 15px;
  width: 18px;
  height: 18px;
}
.main_nav-2 .main_nav-2-bottom .TV-play {
  font-weight: 600;
  color: #111;
}
.main_nav-2 .main_nav-2-bottom .TV-play::after {
  content: '';
  position: absolute;
  left: 90px;
  top: 15px;
  width: 1px;
  height: 18px;
  background-color: #ccc;
  z-index: 23;
}
.main_nav-2 .main_nav-2-bottom .allTVDramas {
  z-index: 10;
  position: absolute;
  left: 0;
  top: -265px;
  width: 360px;
  padding: 13px 0 0px 30px;
  border-radius: 4px;
  background-color: #fff;
  box-shadow: 0 28px 50px rgba(25 24 40/35%);
  white-space: normal;
  display: none;
}
.main_nav-2 .main_nav-2-bottom .allTVDramas p {
  font-size: 15px;
  color: #ff5c38;
}
.main_nav-2 .main_nav-2-bottom .allTVDramas a {
  color: #111;
  display: inline-block;
  width: 100px;
  margin: 0 18px 0 0;
  overflow: hidden;
  font-size: 13px;
  letter-spacing: normal;
  line-height: 18px;
  text-overflow: ellipsis;
  vertical-align: top;
  white-space: nowrap;
}
.main_nav-2 .main_nav-2-bottom .allTVDramas::after {
  position: absolute;
  top: auto;
  bottom: -14px;
  left: 60px;
  width: 0;
  height: 0;
  overflow: visible;
  border: 7px solid transparent;
  border-top-color: #fff;
  font-size: 0;
  content: "";
  pointer-events: none;
}
.main_nav-2 .main_nav-2-bottom .deliciousFood {
  margin-left: 15px;
  color: #666;
}
.main_nav-2 .main_nav-2-bottom .natural {
  margin-left: 18px;
  color: #666;
}
.main_nav-2 .main_nav-2-bottom .deliciousFood:hover {
  color: #ff5c38;
}
.main_nav-2 .main_nav-2-bottom .natural:hover {
  color: #ff5c38;
}
.main_nav-3 {
  margin-left: 35px;
  width: 307.83px;
  height: 100px;
}
.main_nav-3 .leftNavigation {
  margin-top: 14px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 15px;
  font-weight: 500;
  position: relative;
}
.main_nav-3 .leftNavigation::before {
  content: '';
  position: absolute;
  left: -20px;
  bottom: -23px;
  width: 1px;
  height: 48px;
  background-color: #eee;
  font-weight: 700;
  box-shadow: #f8f8f8;
  z-index: 23;
}
.main_nav-3 .leftNavigation li {
  width: 52.83px;
  height: 42px;
}
.main_nav-3 .leftNavigation li:first-of-type {
  width: 60px;
  height: 42px;
}
.main_nav-3 .leftNavigation li:first-of-type:hover {
  color: #ff5c38;
}
.main_nav-3 .leftNavigation li:nth-of-type(2):hover {
  color: #ff5c38;
}
.main_nav-3 .leftNavigation li:nth-of-type(3):hover .allTVDramas {
  display: block;
}
.main_nav-3 .leftNavigation li:nth-of-type(3) .allTVDramas {
  z-index: 10;
  position: absolute;
  left: -210px;
  top: -258px;
  width: 360px;
  padding: 13px 0 0px 30px;
  border-radius: 4px;
  background-color: #fff;
  box-shadow: 0 28px 50px rgba(25 24 40/35%);
  white-space: normal;
  display: none;
}
.main_nav-3 .leftNavigation li:nth-of-type(3) .allTVDramas p {
  font-size: 15px;
  color: #ff5c38;
}
.main_nav-3 .leftNavigation li:nth-of-type(3) .allTVDramas a {
  color: #111;
  display: inline-block;
  width: 100px;
  margin: 0 18px 0 0;
  overflow: hidden;
  font-size: 13px;
  letter-spacing: normal;
  line-height: 45px;
  text-overflow: ellipsis;
  vertical-align: top;
  white-space: nowrap;
}
.main_nav-3 .leftNavigation li:nth-of-type(3) .allTVDramas::after {
  position: absolute;
  top: auto;
  bottom: -14px;
  left: 335px;
  width: 0;
  height: 0;
  overflow: visible;
  border: 7px solid transparent;
  border-top-color: #fff;
  font-size: 0;
  content: "";
  pointer-events: none;
}
.main_nav-3 .leftNavigation li:nth-of-type(4):hover .allTVDramas {
  display: block;
}
.main_nav-3 .leftNavigation li:nth-of-type(4) .allTVDramas {
  z-index: 10;
  position: absolute;
  left: -130px;
  top: -260px;
  width: 360px;
  padding: 13px 0 0px 30px;
  border-radius: 4px;
  background-color: #fff;
  box-shadow: 0 28px 50px rgba(25 24 40/35%);
  white-space: normal;
  display: none;
}
.main_nav-3 .leftNavigation li:nth-of-type(4) .allTVDramas p {
  font-size: 15px;
  color: #ff5c38;
}
.main_nav-3 .leftNavigation li:nth-of-type(4) .allTVDramas a {
  color: #111;
  display: inline-block;
  width: 100px;
  margin: 0 18px 0 0;
  overflow: hidden;
  font-size: 13px;
  letter-spacing: normal;
  line-height: 45px;
  text-overflow: ellipsis;
  vertical-align: top;
  white-space: nowrap;
}
.main_nav-3 .leftNavigation li:nth-of-type(4) .allTVDramas::after {
  position: absolute;
  top: auto;
  bottom: -14px;
  left: 334px;
  width: 0;
  height: 0;
  overflow: visible;
  border: 7px solid transparent;
  border-top-color: #fff;
  font-size: 0;
  content: "";
  pointer-events: none;
}
.main_nav-3 .leftNavigation li:nth-of-type(5):hover .allTVDramas {
  display: block;
}
.main_nav-3 .leftNavigation li:nth-of-type(5) .allTVDramas {
  z-index: 10;
  position: absolute;
  left: -95px;
  top: -170px;
  width: 360px;
  padding: 13px 0 0px 30px;
  border-radius: 4px;
  background-color: #fff;
  box-shadow: 0 28px 50px rgba(25 24 40/35%);
  white-space: normal;
  display: none;
}
.main_nav-3 .leftNavigation li:nth-of-type(5) .allTVDramas p {
  font-size: 15px;
  color: #ff5c38;
}
.main_nav-3 .leftNavigation li:nth-of-type(5) .allTVDramas a {
  color: #111;
  display: inline-block;
  width: 100px;
  margin: 0 18px 0 0;
  overflow: hidden;
  font-size: 13px;
  letter-spacing: normal;
  line-height: 45px;
  text-overflow: ellipsis;
  vertical-align: top;
  white-space: nowrap;
}
.main_nav-3 .leftNavigation li:nth-of-type(5) .allTVDramas::after {
  position: absolute;
  top: auto;
  bottom: -14px;
  left: 354px;
  width: 0;
  height: 0;
  overflow: visible;
  border: 7px solid transparent;
  border-top-color: #fff;
  font-size: 0;
  content: "";
  pointer-events: none;
}
.main_nav-3 .rightNavigation {
  margin-top: 13px;
  width: 307.83px;
  height: 42px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 15px;
}
.main_nav-3 .rightNavigation li {
  width: 52.83px;
  height: 42px;
  position: relative;
}
.main_nav-3 .rightNavigation li:first-of-type:hover .allTVDramas {
  display: block;
}
.main_nav-3 .rightNavigation li:first-of-type .allTVDramas {
  z-index: 10;
  position: absolute;
  left: -320px;
  top: -259px;
  width: 360px;
  padding: 13px 0 0px 30px;
  border-radius: 4px;
  background-color: #fff;
  box-shadow: 0 28px 50px rgba(25 24 40/35%);
  white-space: normal;
  display: none;
}
.main_nav-3 .rightNavigation li:first-of-type .allTVDramas p {
  font-size: 15px;
  color: #ff5c38;
}
.main_nav-3 .rightNavigation li:first-of-type .allTVDramas a {
  color: #111;
  display: inline-block;
  width: 100px;
  margin: 0 18px 0 0;
  overflow: hidden;
  font-size: 13px;
  letter-spacing: normal;
  line-height: 45px;
  text-overflow: ellipsis;
  vertical-align: top;
  white-space: nowrap;
}
.main_nav-3 .rightNavigation li:first-of-type .allTVDramas::after {
  position: absolute;
  top: auto;
  bottom: -14px;
  left: 350px;
  width: 0;
  height: 0;
  overflow: visible;
  border: 7px solid transparent;
  border-top-color: #fff;
  font-size: 0;
  content: "";
  pointer-events: none;
}
.main_nav-3 .rightNavigation li:nth-of-type(2):hover .allTVDramas {
  display: block;
}
.main_nav-3 .rightNavigation li:nth-of-type(2) .allTVDramas {
  z-index: 10;
  position: absolute;
  left: -315px;
  top: -257px;
  width: 360px;
  padding: 13px 0 0px 30px;
  border-radius: 4px;
  background-color: #fff;
  box-shadow: 0 28px 50px rgba(25 24 40/35%);
  white-space: normal;
  display: none;
}
.main_nav-3 .rightNavigation li:nth-of-type(2) .allTVDramas p {
  font-size: 15px;
  color: #ff5c38;
}
.main_nav-3 .rightNavigation li:nth-of-type(2) .allTVDramas a {
  color: #111;
  display: inline-block;
  width: 100px;
  margin: 0 18px 0 0;
  overflow: hidden;
  font-size: 13px;
  letter-spacing: normal;
  line-height: 45px;
  text-overflow: ellipsis;
  vertical-align: top;
  white-space: nowrap;
}
.main_nav-3 .rightNavigation li:nth-of-type(2) .allTVDramas::after {
  position: absolute;
  top: auto;
  bottom: -14px;
  left: 350px;
  width: 0;
  height: 0;
  overflow: visible;
  border: 7px solid transparent;
  border-top-color: #fff;
  font-size: 0;
  content: "";
  pointer-events: none;
}
.main_nav-3 .rightNavigation li:nth-of-type(4):hover .allTVDramas {
  display: block;
}
.main_nav-3 .rightNavigation li:nth-of-type(4) .allTVDramas {
  z-index: 10;
  position: absolute;
  left: -309px;
  top: -257px;
  width: 360px;
  padding: 13px 0 0px 30px;
  border-radius: 4px;
  background-color: #fff;
  box-shadow: 0 28px 50px rgba(25 24 40/35%);
  white-space: normal;
  display: none;
}
.main_nav-3 .rightNavigation li:nth-of-type(4) .allTVDramas p {
  font-size: 15px;
  color: #ff5c38;
}
.main_nav-3 .rightNavigation li:nth-of-type(4) .allTVDramas a {
  color: #111;
  display: inline-block;
  width: 100px;
  margin: 0 18px 0 0;
  overflow: hidden;
  font-size: 13px;
  letter-spacing: normal;
  line-height: 45px;
  text-overflow: ellipsis;
  vertical-align: top;
  white-space: nowrap;
}
.main_nav-3 .rightNavigation li:nth-of-type(4) .allTVDramas::after {
  position: absolute;
  top: auto;
  bottom: -14px;
  left: 335px;
  width: 0;
  height: 0;
  overflow: visible;
  border: 7px solid transparent;
  border-top-color: #fff;
  font-size: 0;
  content: "";
  pointer-events: none;
}
.main_nav-3 .rightNavigation li:nth-of-type(5):hover .allTVDramas {
  display: block;
}
.main_nav-3 .rightNavigation li:nth-of-type(5) {
  color: #ff5c38;
}
.main_nav-3 .rightNavigation li:nth-of-type(5) .allTVDramas {
  z-index: 10;
  position: absolute;
  left: -329px;
  top: -169px;
  width: 360px;
  padding: 13px 0 0px 30px;
  border-radius: 4px;
  background-color: #fff;
  box-shadow: 0 28px 50px rgba(25 24 40/35%);
  white-space: normal;
  display: none;
}
.main_nav-3 .rightNavigation li:nth-of-type(5) .allTVDramas p {
  font-size: 15px;
  color: #ff5c38;
}
.main_nav-3 .rightNavigation li:nth-of-type(5) .allTVDramas a {
  color: #111;
  display: inline-block;
  width: 100px;
  margin: 0 18px 0 0;
  overflow: hidden;
  font-size: 13px;
  letter-spacing: normal;
  line-height: 45px;
  text-overflow: ellipsis;
  vertical-align: top;
  white-space: nowrap;
}
.main_nav-3 .rightNavigation li:nth-of-type(5) .allTVDramas::after {
  position: absolute;
  top: auto;
  bottom: -14px;
  left: 335px;
  width: 0;
  height: 0;
  overflow: visible;
  border: 7px solid transparent;
  border-top-color: #fff;
  font-size: 0;
  content: "";
  pointer-events: none;
}
.main_nav-4 {
  width: 150px;
  height: 67px;
  position: relative;
}
.main_nav-4 .client {
  position: absolute;
  left: -30px;
  top: 0;
  width: 84px;
  height: 67px;
}
.main_nav-4 .load {
  position: absolute;
  left: -23px;
  top: 0;
  width: 84px;
  height: 67px;
}
.main_nav-4 .cinema {
  position: absolute;
  left: 55px;
  top: 0;
  width: 84;
  height: 67px;
}
.main_nav-4 .vip {
  position: absolute;
  left: 55px;
  top: 0;
  width: 84;
  height: 67px;
}
.mod_hd {
  display: flex;
  justify-content: space-between;
  width: 1200px;
  height: 60px;
  margin: 0 auto;
}
.mod_hd .title {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.mod_hd .title h2 {
  color: #111;
  font-size: 30px;
  font-weight: 400;
}
.mod_hd .title a {
  margin: 20px 0 0 20px;
  font-size: 13px;
  color: #666;
  cursor: pointer;
}
.mod_hd .Hotspot_switching {
  margin-top: 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}
.mod_hd .Hotspot_switching .icon-zuojiantou {
  font-size: 13px;
  font-weight: 600;
  color: #ccc;
}
.mod_hd .Hotspot_switching span {
  width: 45px;
  margin-left: 25px;
  margin-right: 15px;
  color: #666;
  font-size: 14px;
  letter-spacing: 2px;
}
.mod_hd .Hotspot_switching .icon-youjiantou {
  font-size: 10px;
  margin-right: 8px;
  font-weight: 600;
}
/* 热点视频的操作 */
.hotVideo {
  width: 1200px;
  height: 203px;
  background-color: aqua;
  margin: 0 auto;
}
.list_sum {
  width: 1200px;
  height: 190;
  background-color: #ffb821;
  margin: 0 auto;
  position: relative;
}
.list_sum .list_num {
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  width: 2400px;
  height: 192px;
  margin: 0 auto;
}
.list_sum .list_num .list_item:first-of-type {
  margin-left: 0px;
}
.list_sum .list_num .list_item:nth-of-type(6) {
  margin-right: 160px;
}
.list_sum .list_num .list_item {
  position: relative;
  width: 185px;
  height: 152px;
  margin-left: 16px;
}
.list_sum .list_num .list_item a .firstImg {
  width: 185px;
  height: 105px;
  border-radius: 4px;
}
.list_sum .list_num .list_item a .play {
  position: absolute;
  top: 6px;
  left: 6px;
  width: 14px;
  height: 18px;
  background: #ff1459;
  background: url(../img/mark.png) 0 0 no-repeat;
}
.list_sum .list_num .list_item a .videoTime {
  position: absolute;
  left: 0;
  bottom: 48px;
  width: auto;
  height: 20px;
  padding: 10px 10px 4px;
  color: #fff;
  font-weight: 500;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.3) 25.5%, rgba(0, 0, 0, 0.08) 70%, rgba(0, 0, 0, 0));
}
.list_sum .list_num .list_item .title_text {
  position: absolute;
  bottom: -15px;
  width: 185px;
  height: 44px;
  overflow: hidden;
  font-size: 14px;
  letter-spacing: 1px;
  line-height: 23px;
  white-space: normal;
  word-break: break-all;
}
.mod_hd_kn {
  display: flex;
  justify-content: space-between;
  width: 1200px;
  height: 60px;
  margin: 210px auto 10px auto;
}
.mod_hd_kn .title {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.mod_hd_kn .title h2 {
  color: #111;
  font-size: 30px;
  font-weight: 400;
}
.mod_hd_kn .title a {
  margin: 20px 0 0 20px;
  font-size: 13px;
  color: #666;
  cursor: pointer;
}
.mod_hd_kn .Hotspot_switching {
  margin-top: 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}
.mod_hd_kn .Hotspot_switching .icon-zuojiantou {
  font-size: 13px;
  font-weight: 600;
  color: #ccc;
}
.mod_hd_kn .Hotspot_switching span {
  width: 45px;
  margin-left: 25px;
  margin-right: 15px;
  color: #666;
  font-size: 14px;
  letter-spacing: 2px;
}
.mod_hd_kn .Hotspot_switching .icon-youjiantou {
  font-size: 10px;
  margin-right: 8px;
  font-weight: 600;
}
.mod_hd_video {
  display: flex;
  justify-content: space-between;
  width: 1200px;
  height: 60px;
  margin: 210px auto 10px auto;
}
.mod_hd_video .title {
  width: 515px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.mod_hd_video .title h2 {
  color: #111;
  font-size: 30px;
  font-weight: 400;
}
.mod_hd_video .title .title1 {
  width: 139px;
  height: 39px;
  border-radius: 15px;
  background: linear-gradient(90deg, #ffb821 0, #ff5c38 45%, #ff1459);
  text-align: center;
  line-height: 39px;
  font-size: 15px;
  color: #fff;
}
.mod_hd_video .title .title1:hover {
  background: linear-gradient(90deg, #ffb821 0, #ff5c38 45%, #ff1459);
}
.mod_hd_video .title2 {
  width: 89px;
  height: 39px;
  border-radius: 15px;
  background: #ccc;
  text-align: center;
  line-height: 39px;
  font-size: 15px;
  color: #fff;
}
.mod_hd_video .title2:hover {
  background: linear-gradient(90deg, #ffb821 0, #ff5c38 45%, #ff1459);
}
.Hotspot_switching {
  margin-top: 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}
.Hotspot_switching .icon-zuojiantou {
  font-size: 13px;
  font-weight: 600;
  color: #ccc;
}
.Hotspot_switching span {
  width: 45px;
  margin-left: 25px;
  margin-right: 15px;
  color: #666;
  font-size: 14px;
  letter-spacing: 2px;
}
.Hotspot_switching .icon-youjiantou {
  font-size: 10px;
  margin-right: 8px;
  font-weight: 600;
}
.video_vip {
  width: 1200px;
  height: 366px;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
}
.video_vip .play {
  margin-right: 25px;
  width: 571px;
  height: 366px;
  background-color: black;
  position: relative;
}
.video_vip .play video {
  width: 566px;
  height: 366px;
  position: absolute;
}
.video_vip .playCon {
  width: 609px;
  height: 366px;
  background-color: #fff;
}
.video_vip .playCon .money {
  width: 609px;
  height: 185px;
}
.video_vip .playCon .fill {
  width: 609px;
  height: 180px;
}
.first_advertise {
  width: 1200px;
  height: 270px;
  margin: auto;
  margin-top: 45px;
}
.first_advertise img {
  width: 1200px;
  height: 270px;
}
.mod_trailer {
  display: flex;
  justify-content: space-between;
  width: 1200px;
  height: 60px;
  margin: 35px auto 10px auto;
}
.mod_trailer .title {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.mod_trailer .title h2 {
  color: #111;
  font-size: 30px;
  font-weight: 400;
}
.mod_trailer .title a {
  margin: 20px 0 0 20px;
  font-size: 13px;
  color: #666;
  cursor: pointer;
}
.mod_trailer .Hotspot_switching {
  margin-top: 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}
.mod_trailer .Hotspot_switching .icon-zuojiantou {
  font-size: 13px;
  font-weight: 600;
  color: #ccc;
}
.mod_trailer .Hotspot_switching span {
  width: 45px;
  margin-left: 25px;
  margin-right: 15px;
  color: #666;
  font-size: 14px;
  letter-spacing: 2px;
}
.mod_trailer .Hotspot_switching .icon-youjiantou {
  font-size: 10px;
  margin-right: 8px;
  font-weight: 600;
}
.mod_hd_Britain {
  display: flex;
  justify-content: space-between;
  width: 1200px;
  height: 60px;
  margin: 210px auto 10px auto;
}
.mod_hd_Britain .title {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.mod_hd_Britain .title h2 {
  color: #111;
  font-size: 30px;
  font-weight: 400;
}
.mod_hd_Britain .title a {
  margin: 20px 0 0 20px;
  font-size: 13px;
  color: #666;
  cursor: pointer;
}
.mod_hd_Britain .Hotspot_switching {
  margin-top: 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}
.mod_hd_Britain .Hotspot_switching .icon-zuojiantou {
  font-size: 13px;
  font-weight: 600;
  color: #ccc;
}
.mod_hd_Britain .Hotspot_switching span {
  width: 45px;
  margin-left: 25px;
  margin-right: 15px;
  color: #666;
  font-size: 14px;
  letter-spacing: 2px;
}
.mod_hd_Britain .Hotspot_switching .icon-youjiantou {
  font-size: 10px;
  margin-right: 8px;
  font-weight: 600;
}
.list_sum_Britain {
  width: 1200px;
  height: 190;
  background-color: #ffb821;
  margin: 0 auto;
  position: relative;
}
.list_sum_Britain .list_num {
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  width: 2400px;
  height: 192px;
  margin: 0 auto;
}
.list_sum_Britain .list_num .list_item:first-of-type {
  margin-left: 0px;
}
.list_sum_Britain .list_num .list_item:nth-of-type(6) {
  margin-right: 160px;
}
.list_sum_Britain .list_num .list_item {
  position: relative;
  width: 185px;
  height: 259px;
  margin-left: 16px;
}
.list_sum_Britain .list_num .list_item a .firstImg {
  width: 185px;
  height: 259px;
  border-radius: 4px;
}
.list_sum_Britain .list_num .list_item a .play {
  position: absolute;
  top: 6px;
  left: 6px;
  width: 14px;
  height: 18px;
  background: #ff1459;
  background: url(../img/mark.png) 0 0 no-repeat;
}
.list_sum_Britain .list_num .list_item a .videoTime {
  position: absolute;
  left: 0;
  bottom: 48px;
  width: auto;
  height: 20px;
  padding: 10px 10px 4px;
  color: #fff;
  font-weight: 500;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.3) 25.5%, rgba(0, 0, 0, 0.08) 70%, rgba(0, 0, 0, 0));
}
.list_sum_Britain .list_num .list_item .title_text {
  position: absolute;
  bottom: -55px;
  width: 185px;
  height: 44px;
  overflow: hidden;
  font-size: 14px;
  letter-spacing: 1px;
  line-height: 23px;
  white-space: normal;
  word-break: break-all;
}
.mod_edu {
  display: flex;
  justify-content: space-between;
  width: 1200px;
  height: 60px;
  margin: 335px auto 10px auto;
}
.mod_edu .title {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.mod_edu .title h2 {
  color: #111;
  font-size: 30px;
  font-weight: 400;
}
.mod_edu .title a {
  margin: 20px 0 0 20px;
  font-size: 13px;
  color: #666;
  cursor: pointer;
}
.mod_edu .Hotspot_switching {
  margin-top: 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}
.mod_edu .Hotspot_switching .icon-zuojiantou {
  font-size: 13px;
  font-weight: 600;
  color: #ccc;
}
.mod_edu .Hotspot_switching span {
  width: 45px;
  margin-left: 25px;
  margin-right: 15px;
  color: #666;
  font-size: 14px;
  letter-spacing: 2px;
}
.mod_edu .Hotspot_switching .icon-youjiantou {
  font-size: 10px;
  margin-right: 8px;
  font-weight: 600;
}
.mod_hd_fashionPopularity {
  display: flex;
  justify-content: space-between;
  width: 1200px;
  height: 60px;
  margin: 210px auto 10px auto;
}
.mod_hd_fashionPopularity .title {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.mod_hd_fashionPopularity .title h2 {
  color: #111;
  font-size: 30px;
  font-weight: 400;
}
.mod_hd_fashionPopularity .title a {
  margin: 20px 0 0 20px;
  font-size: 13px;
  color: #666;
  cursor: pointer;
}
.mod_hd_fashionPopularity .Hotspot_switching {
  margin-top: 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}
.mod_hd_fashionPopularity .Hotspot_switching .icon-zuojiantou {
  font-size: 13px;
  font-weight: 600;
  color: #ccc;
}
.mod_hd_fashionPopularity .Hotspot_switching span {
  width: 45px;
  margin-left: 25px;
  margin-right: 15px;
  color: #666;
  font-size: 14px;
  letter-spacing: 2px;
}
.mod_hd_fashionPopularity .Hotspot_switching .icon-youjiantou {
  font-size: 10px;
  margin-right: 8px;
  font-weight: 600;
}
.mod_hd_music {
  display: flex;
  justify-content: space-between;
  width: 1200px;
  height: 60px;
  margin: 210px auto 10px auto;
}
.mod_hd_music .title {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.mod_hd_music .title h2 {
  color: #111;
  font-size: 30px;
  font-weight: 400;
}
.mod_hd_music .title a {
  margin: 20px 0 0 20px;
  font-size: 13px;
  color: #666;
  cursor: pointer;
}
.mod_hd_music .Hotspot_switching {
  margin-top: 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}
.mod_hd_music .Hotspot_switching .icon-zuojiantou {
  font-size: 13px;
  font-weight: 600;
  color: #ccc;
}
.mod_hd_music .Hotspot_switching span {
  width: 45px;
  margin-left: 25px;
  margin-right: 15px;
  color: #666;
  font-size: 14px;
  letter-spacing: 2px;
}
.mod_hd_music .Hotspot_switching .icon-youjiantou {
  font-size: 10px;
  margin-right: 8px;
  font-weight: 600;
}
.mod_hd_hotspot {
  display: flex;
  justify-content: space-between;
  width: 1200px;
  height: 60px;
  margin: 210px auto 10px auto;
}
.mod_hd_hotspot .title {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.mod_hd_hotspot .title h2 {
  color: #111;
  font-size: 30px;
  font-weight: 400;
}
.mod_hd_hotspot .title a {
  margin: 20px 0 0 20px;
  font-size: 13px;
  color: #666;
  cursor: pointer;
}
.mod_hd_hotspot .Hotspot_switching {
  margin-top: 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}
.mod_hd_hotspot .Hotspot_switching .icon-zuojiantou {
  font-size: 13px;
  font-weight: 600;
  color: #ccc;
}
.mod_hd_hotspot .Hotspot_switching span {
  width: 45px;
  margin-left: 25px;
  margin-right: 15px;
  color: #666;
  font-size: 14px;
  letter-spacing: 2px;
}
.mod_hd_hotspot .Hotspot_switching .icon-youjiantou {
  font-size: 10px;
  margin-right: 8px;
  font-weight: 600;
}
.mod_hd_motherAndBaby {
  display: flex;
  justify-content: space-between;
  width: 1200px;
  height: 60px;
  margin: 210px auto 10px auto;
}
.mod_hd_motherAndBaby .title {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.mod_hd_motherAndBaby .title h2 {
  color: #111;
  font-size: 30px;
  font-weight: 400;
}
.mod_hd_motherAndBaby .title a {
  margin: 20px 0 0 20px;
  font-size: 13px;
  color: #666;
  cursor: pointer;
}
.mod_hd_motherAndBaby .Hotspot_switching {
  margin-top: 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}
.mod_hd_motherAndBaby .Hotspot_switching .icon-zuojiantou {
  font-size: 13px;
  font-weight: 600;
  color: #ccc;
}
.mod_hd_motherAndBaby .Hotspot_switching span {
  width: 45px;
  margin-left: 25px;
  margin-right: 15px;
  color: #666;
  font-size: 14px;
  letter-spacing: 2px;
}
.mod_hd_motherAndBaby .Hotspot_switching .icon-youjiantou {
  font-size: 10px;
  margin-right: 8px;
  font-weight: 600;
}
.mod_hd_constellation {
  display: flex;
  justify-content: space-between;
  width: 1200px;
  height: 60px;
  margin: 210px auto 10px auto;
}
.mod_hd_constellation .title {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.mod_hd_constellation .title h2 {
  color: #111;
  font-size: 30px;
  font-weight: 400;
}
.mod_hd_constellation .title a {
  margin: 20px 0 0 20px;
  font-size: 13px;
  color: #666;
  cursor: pointer;
}
.mod_hd_constellation .Hotspot_switching {
  margin-top: 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}
.mod_hd_constellation .Hotspot_switching .icon-zuojiantou {
  font-size: 13px;
  font-weight: 600;
  color: #ccc;
}
.mod_hd_constellation .Hotspot_switching span {
  width: 45px;
  margin-left: 25px;
  margin-right: 15px;
  color: #666;
  font-size: 14px;
  letter-spacing: 2px;
}
.mod_hd_constellation .Hotspot_switching .icon-youjiantou {
  font-size: 10px;
  margin-right: 8px;
  font-weight: 600;
}
.mod_hd_car {
  display: flex;
  justify-content: space-between;
  width: 1200px;
  height: 60px;
  margin: 210px auto 10px auto;
}
.mod_hd_car .title {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.mod_hd_car .title h2 {
  color: #111;
  font-size: 30px;
  font-weight: 400;
}
.mod_hd_car .title a {
  margin: 20px 0 0 20px;
  font-size: 13px;
  color: #666;
  cursor: pointer;
}
.mod_hd_car .Hotspot_switching {
  margin-top: 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}
.mod_hd_car .Hotspot_switching .icon-zuojiantou {
  font-size: 13px;
  font-weight: 600;
  color: #ccc;
}
.mod_hd_car .Hotspot_switching span {
  width: 45px;
  margin-left: 25px;
  margin-right: 15px;
  color: #666;
  font-size: 14px;
  letter-spacing: 2px;
}
.mod_hd_car .Hotspot_switching .icon-youjiantou {
  font-size: 10px;
  margin-right: 8px;
  font-weight: 600;
}
.advertisement {
  width: 1200px;
  margin: 220px auto 40px auto;
}
.advertisement img {
  width: 1200px;
}
.footer {
  width: 1519.2px;
  height: 453px;
  overflow: hidden;
  border-top: 1px solid red;
  margin-top: 10px;
}
.footer .footer_top {
  margin: 30px auto 10px auto;
  width: 1120px;
  height: 209px;
  display: flex;
  justify-content: space-between;
}
.footer .footer_top .top_one {
  width: 210px;
  height: 180px;
}
.footer .footer_top .top_one h5 {
  width: 210px;
  height: 26px;
  font-size: 17px;
  font-weight: 700;
  letter-spacing: normal;
  line-height: 26px;
  color: #666;
  text-indent: 2rem;
  text-align: left;
}
.footer .footer_top .top_one .newTv {
  margin-top: 18px;
  width: 210px;
  height: 160px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  list-style: none;
}
.footer .footer_top .top_one .newTv li {
  width: 45px;
  height: 21px;
  margin-left: 15px;
  font-size: 12px;
  color: blank;
}
.footer .footer_top .top_one .newTv li:nth-of-type(10) {
  font-size: 12px;
}
.footer .footer_top .featuredRecommendation {
  width: 79px;
  height: 79px;
}
.footer .footer_top .featuredRecommendation h5 {
  width: 79px;
  height: 26px;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: normal;
  line-height: 26px;
  color: #666;
  margin-bottom: 18px;
}
.footer .footer_top .featuredRecommendation li {
  list-style: none;
  margin-bottom: 15px;
  color: black;
}
.footer .footer_top .softDown {
  width: 400px;
  height: 131px;
}
.footer .footer_top .softDown h5 {
  width: 400px;
  height: 26px;
  font-size: 17px;
  font-weight: 700;
  letter-spacing: normal;
  line-height: 26px;
  color: #666;
  text-align: left;
}
.footer .footer_top .softDown .h5_bottom {
  width: 400px;
  height: 90px;
  display: flex;
  justify-content: space-between;
}
.footer .footer_top .softDown .h5_bottom li {
  width: 80px;
  height: 90px;
}
.footer .footer_top .softDown .h5_bottom li:first-of-type .common_ipone {
  margin: 13px auto 0 19px;
  font-weight: 500;
}
.footer .footer_top .softDown .h5_bottom li svg {
  margin: 10px 0 0 15px;
}
.footer .footer_top .softDown .h5_bottom li .common_window {
  margin: 13px auto 0 8px;
  font-weight: 500;
}
.footer .footer_top .softDown .h5_bottom li:nth-of-type(3) .common_Mac {
  margin: 13px auto 0 19px;
  font-weight: 500;
}
.footer .footer_top .softDown .h5_bottom li:nth-of-type(4) .common_iPad {
  margin: 13px auto 0 19px;
  font-weight: 500;
}
.footer .footer_top .softDown .h5_bottom li:nth-of-type(5) .common_TV {
  margin: 13px auto 0 19px;
  font-weight: 500;
}
.footer .footer_top .server {
  width: 360px;
  height: 209px;
}
.footer .footer_top .server h5 {
  width: 360px;
  height: 26px;
  font-size: 17px;
  font-weight: 700;
  letter-spacing: normal;
  line-height: 26px;
  color: #666;
  text-align: left;
}
.footer .footer_top .server .power {
  width: 360px;
  height: 160px;
  color: #666;
  display: flex;
  justify-content: space-between;
}
.footer .footer_top .server .power .power_first {
  width: 180px;
  height: 160px;
}
.footer .footer_top .server .power .power_first li {
  margin-bottom: 10px;
}
.footer .footer_top .server .power .power_secod {
  width: 180px;
  height: 160px;
}
.footer .footer_top .server .power .power_secod li {
  margin-bottom: 20px;
}
.footer .footer_center {
  width: 1519.2px;
  height: 170px;
  margin: 0 auto;
  font-size: 13px;
}
.footer .footer_center .footer_center_one {
  width: 900px;
  height: 30px;
  margin: 0 auto;
}
.footer .footer_center .footer_center_one a {
  color: #666;
}
.footer .footer_center .footer_center_two {
  width: 700px;
  height: 30px;
  margin-left: 460px;
}
.footer .footer_center .footer_center_two a {
  color: #666;
}
.footer .footer_center .footer_center_there {
  width: 500px;
  height: 30px;
  margin-left: 515px;
}
.footer .footer_center .footer_center_there a {
  color: #666;
}
.footer .footer_center .footer_center_fourth {
  width: 1519.2px;
  height: 30px;
  margin-left: 600px;
}
.footer .footer_center .footer_center_fourth a {
  color: #666;
}
.footer .footer_center_five {
  width: 112px;
  height: 52px;
  margin-left: 600px;
}
.footer .footer_center_five img {
  width: 112px;
  height: 52px;
}
